<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% with start="https://www.wildberries.ru/catalog/" end="/detail.aspx" %}
<head>
    <meta charset="UTF-8">
    <title>Ставки рекламы</title>
</head>
<body>
<h1 align="center">Ставки рекламы Wildberries</h1>
<form method="post" align="center" action="/">
    {% csrf_token %}
    <p><input
            type="search"
            name="name"
            placeholder="Введите артикул товара, ссылку на товар или поисковой запрос"
            maxlength="50"
            size="50">
        <button type="submit"><b>найти</b></button></p>
</form>

<div align="center" style="font-size:16px">
    {% for advert in result %}
        Позиция: <b>{{advert.position}}</b> артикул:  <b><a href={{advert.link}}>
        {{advert.product_id}}</a></b> ставка: <b>{{advert.cpm}}</b> руб.<br>
    {% endfor %}
</div>
</body>
{% endwith %}
</html>