<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
{% with start="https://www.wildberries.ru/catalog/" end="/detail.aspx" %}
<head>
    <meta charset="UTF-8">
    <title>Ставки рекламы</title>
</head>
<body>
<h1 align="center">Ставки рекламы Wildberries</h1>
<form method="post" align="center" action="/">
    {% csrf_token %}
    <p><input
            type="search"
            name="name"
            placeholder="Введите артикул товара, ссылку на товар или поисковой запрос"
            maxlength="50"
            size="50">
        <button type="submit"><b>найти</b></button></p>
</form>

<div align="center" style="font-size:16px">
    {% if not result %}
        {% if queryType == 'keyword' %}
            По этому поисковому запросу ничего не нашлось, возможно ошибка в тексте
        {% elif queryType == 'article' %}
            По указанному артикулу ничего не нашлось, возможно ошибка в номере<br>
            или в карточке этого товара нет рекламных позиций
        {% elif queryType == 'url' %}
            По указанной ссылке ничего не нашлось, возможно ошибка в артикуле<br>
            или в карточке этого товара нет рекламных позиций
        {% endif %}
    {% else %}
        {% for advert in result %}
        <a href={{advert.img}}><img src={{advert.img}} width="24.6" height="32.8" alt="нет картинки"></a>
            Позиция: <b>{{advert.position}}</b>
            артикул:  <b><a href={{advert.link}}>{{advert.product_id}}</a></b>
            ставка: <b>{{advert.cpm}}</b> руб |
    предмет: <b>{{advert.subject.name}}</b><br>
        {% endfor %}
    {% endif %}

</div>
</body>
{% endwith %}
</html>